<div class="container">

  <% if current_user %>
    <ul>
      <% @users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    <ul>

  <% else %>
    <h3>Welcome! Please Sign in</h3>
  <% end %>

</div>
